<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
    @Html.Partial("_NavBar")
<body >
    @if (ViewBag.Title == "Home Page")
    {
        <div style="height: 600px; width: auto; border-bottom: 2px solid black;">
            <header class="masthead">
                <div class="overlay"></div>
            </header>
        </div>
    }
    <div class="container body-content" style="background-color: whitesmoke;height: -webkit-fill-available" >
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Palms</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>


